p {
 font-family: Lucida Console;	
 margin:0;
}

h1 {
 font-family: Lucida Console;
}

.p1 {
 color:red;
}

.p2 {
 color:green;
}

.topnav {
  overflow: hidden;
  //background-color: #333;
  background-color: #39669e;
  //color: #00008B;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Lucida Console;
}

.topnav a:hover {
  background-color: #1c3554;
  color: white;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.btn {
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  center;
}

.btn:hover {background: #eee;}
.default {color: white;}
